<launch>
	<rosparam file="launch/keyconfig.yaml" />

	<node pkg="ros_teleop" name="key_listener" type="key_listener.py"/>

	<!--<node pkg="ros_teleop" name="key_interpreter" type="key_interpreter.py" />-->

	<node pkg="ros_teleop" name="key_wrench" type="key_interpreter_wrench.py" output="screen"/>
	<node pkg="ros_teleop" name="key_twist" type="key_interpreter_twist.py" />

</launch>
